.dropdown-arrow-inverse {
    border-bottom-color: #338bff !important;
    border-top-color: #338bff !important
}

html, body {
    height: 100%
}

.jumbotron.fullscreen {
    min-height: 100%
}

.welcome-page {
    background-image: -webkit-linear-gradient(top, #338bff 10%, #405b7f 100%);
    background-image: linear-gradient(to bottom, #338bff 10%, #405b7f 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff338bff', endColorstr='#ff405b7f', GradientType=0);
    color: #fff
}

.navbar-brand img {
    height: 100%;
    margin-right: 10px;
    margin-top: -5px
}

.btn .fa {
    margin-right: 8px
}

#ramiio {
    background: #880231
}

#ramiio img {
    width: 100%;
    max-width: 250px
}

.navbar-static-top {
    margin-bottom: 0;
}
.panel-title .badge {
    float: right;
}

.gallery {
    float: right;
    margin-left: 16px;
}

.gallery-left {
    float: none;
    margin-left: 0;
}

h3 {
    clear: both;
}

.jumbotron-normal-font p {
    font-size: 18px;
    font-weight: normal
}

.list-group-item h6 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 5px;
}

.list-group-item h6:last-child {
    margin-bottom: 15px;
}

.top-padding {
    padding-top: 15px;
}

.paragraph-icon {
    background: #405b7f;
    padding: 15px;
}

.jumbotron-dark {
    background: #405b7f;
    color: white;
}

.jumbotron-dark-green {
    background: #388E3C;
    color: white;
}

.jumbotron-dark-green a {
    color: #b9c8dc;
}

.jumbotron-legionboard {
    background: #e74c3c;
    color: white;
}

.jumbotron-legionboard a {
    color: #b9c8dc;
}

.circle {
    border-radius: 50%;
    background: #405b7f;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 50px;
    line-height: 120px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    margin-bottom: 15px;
}

.circle img {
    margin-top: -10px;
    width: 60%;
    height: 60%;
}