.dropdown-arrow-inverse {
    border-bottom-color: #338bff !important;
    border-top-color: #338bff !important
}

html, body {
    height: 100%
}

.jumbotron.fullscreen {
    min-height: 100%
}

.home-page-part {
    padding-top: 30px;
    padding-bottom: 15px;
}

.welcome-page {
    background-image: -webkit-linear-gradient(top, #338bff 10%, #405b7f 100%);
    background-image: linear-gradient(to bottom, #338bff 10%, #405b7f 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff338bff', endColorstr='#ff405b7f', GradientType=0);
    color: #fff;
    margin-bottom: 0;
}

.welcome-page-image {
    background: #405b7f url("/img/home_bg.jpg") no-repeat;
    background-size: cover;
    background-position: left center;
    color: #fff;
    margin-bottom: 0;
}

.headerbox {
    margin-left: 120px;
    min-height: 100px;
    padding-top: 10px;
    margin-bottom: 15px;
}

.headerbox h1 {
    font-size: 40px;
    margin-top: 0;
    margin-bottom: 10px;
}

.headerbox .tagline {
    font-size: 20px;
}

.headerbox-logo {
    width: 100px;
    height: 100px;
    vertical-align: middle;
    float: left;
}

.welcome-page-image p {
    margin-top: 15px;
}

.secondary-link {
    color: #fff;
    opacity: 0.7;
    font-size: 15px;
    font-weight: normal;
    text-decoration: underline;
}

.feature-column {
    text-align: center;
    min-height: 475px;
}
.feature-column p {
    text-align: justify;
    font-size: 18px;
    font-weight: normal;
}

.btn-black {
    background: #000;
    color: #fff;
}
.btn-black.btn-embossed {
    box-shadow: inset 0 -2px 0 rgba(255,255,255,.3);
}

.welcome-page-image .btn {
    margin-right: 15px;
}

.navbar-brand img {
    height: 100%;
    margin-right: 10px;
    margin-top: -5px
}

.btn .fa {
    margin-right: 8px
}

#ramiio {
    background: #880231
}

#ramiio img {
    width: 100%;
    max-width: 250px
}

.navbar-static-top {
    margin-bottom: 0;
}
.panel-title .badge {
    float: right;
}

.gallery {
    float: right;
    margin-left: 16px;
}

.gallery-left {
    float: none;
    margin-left: 0;
}

h3 {
    clear: both;
}

.jumbotron-normal-font p {
    font-size: 18px;
    font-weight: normal
}

.list-group-item h6 {
    font-size: 21px;
    font-weight: 700;
    margin-bottom: 5px;
}

.list-group-item h6:last-child {
    margin-bottom: 15px;
}

.top-padding {
    padding-top: 15px;
}

.paragraph-icon {
    background: #405b7f;
    padding: 15px;
}

.jumbotron-dark {
    background: #405b7f;
    color: white;
}

.jumbotron-dark-green {
    background: #388E3C;
    color: white;
}

.jumbotron-dark-green a, .jumbotron-dark-grey a  {
    color: #b9c8dc;
}

.jumbotron-dark-grey {
    background: #455A64;
    color: white;

}

.jumbotron-legionboard {
    background: #e74c3c;
    color: white;
}

.jumbotron-legionboard a {
    color: #b9c8dc;
}

.circle {
    border-radius: 50%;
    background: #334383;
    width: 120px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 50px;
    line-height: 120px;
    text-align: center;
    font-weight: bold;
    overflow: hidden;
    margin-bottom: 15px;
}

.circle img {
    margin-top: -10px;
    width: 60%;
    height: 60%;
}