<footer id="footer">
    <div class="container">
        <div class="col-md-4">
            <h3 class="footer-title">Teilen</h3>
            <div class="shariff" data-backend-url="shariff" data-url="{{ site.url }}" data-orientation="vertical"
                 data-services="[&quot;whatsapp&quot;,&quot;facebook&quot;,&quot;twitter&quot;,&quot;googleplus&quot;,&quot;info&quot;]">
            </div>
        </div>
        <div class="col-md-4">
            <div class="footer-banner" id="ramiio">
                <h3 class="footer-title">Sponsored by</h3>
                <a href="https://rami.io/"><img src='{{ "/img/rami-io.svg" | prepend: site.baseurl }}'></a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="footer-banner">
                <h3 class="footer-title">Kontakt</h3>
                <p>Johan v. Forstner<br>
                    Knud-Laward-Str. 32<br>
                    24837 Schleswig<br>
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
                <p><a href="https://twitter.com/{{ site.twitter_username }}"><span
                        class="fa fa-twitter fa-lg"></span></a> <a
                        href="https://twitter.com/{{ site.twitter_username }}">Twitter</a></p>
            </div>
        </div>
    </div>
</footer>