<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="container">
    <article itemscope="" itemtype="http://schema.org/BlogPosting">
        <h2 itemprop="name">{{ page.title }}</h2>
        <time class="post-meta" itemprop="datePublished" datetime="{{ page.date | date: '%Y-%m-%d' }}">
            {{ page.date | date: "%d.%m.%Y" }}
        </time>
        <div itemprop="articleBody">{{ content }}</div>
    </article>
</div>

{% include footer.html %}
{% include photoswipe.html %}
{% include bottom_js.html %}

</body>

</html>