<div class="container home-page-part">
    <div class="row">
            <div class="col-md-3 col-xs-6 feature-column">
                <div class="circle"><span class="schools-count">...</span></div>
                <h6><span class="schools-count">...</span> Schulen</h6>

                <p><span class="schools-count">...</span> Schulen in Deutschland und Österreich werden bereits
                unterstützt. Wenn deine noch nicht dabei ist, können wir sie in vielen Fällen leicht hinzufügen.
                    Melde dich dazu einfach per <a href="mailto:{{site.email}}">E-Mail</a>,
                    <a href="https://facebook.com/{{ site.facebook_username }}">Facebook</a> oder
                    <a href="https://twitter.com/{{ site.twitter_username }}">Twitter</a> bei uns.</p>

                <a class="btn btn-primary" href='{{ "/schulen/" | prepend: site.baseurl }}'>Zur Schulliste</a>
            </div>
            <div class="col-md-3 col-xs-6 feature-column">
                <div class="circle"><img src="/img/icons/filter.svg" alt="Icon Filter"></div>
                <h6>Filtern</h6>

                <p>Als Schüler kannst du den Vertretungsplan nach deiner Klasse filtern und siehst damit nur noch
                    die Einträge, die dich betreffen. Mit der
                    <a href='{{ "/features/" | prepend: site.baseurl }}'>Pro-Version</a> können mehrere unter&shy;schied&shy;liche
                    Pläne gleich&shy;zeitig ausge&shy;wählt werden und bei vielen Schulen sind auch speziellen Vertretungspläne
                    für Lehrer verfügbar, die dann nach Lehrer&shy;kürzel filterbar sind.</p>
            </div>
            <div class="col-md-3 col-xs-6 feature-column">
                <div class="circle"><img src="/img/icons/notifications.svg" alt="Icon Benachrichtigung"></div>
                <h6>Benachrichtigungen</h6>

                <p>Wenn deine Schule etwas neues auf dem Plan einträgt, bekommst du innerhalb weniger Minuten eine
                    Benachrichtigung auf deinem Smartphone. Und das natürlich nur, wenn die Änderung dich auch
                    wirklich betrifft &ndash; und ohne den Akku deines Smartphones leer zu saugen.</p>
            </div>
            <div class="col-md-3 col-xs-6 feature-column">
                <div class="circle"><img src="/img/icons/widgets.svg" alt="Icon Widget"></div>
                <h6>Widget</h6>

                <p>Mit dem Widget <i>(auf iOS nur in der
                    <a href='{{ "/features/" | prepend: site.baseurl }}'>Pro-Version</a> verfügbar)</i> kannst du
                    den Vertretungsplan direkt auf deinem Startbildschirm sehen und hast damit alle Änderungen des
                    Tages auf einen Blick parat. Das Widget aktualisiert sich ebenfalls automatisch, wenn sich etwas
                    ändert und in der App kannst du auswählen, welchen Plan es anzeigen soll.</p>
            </div>
        </div>
        <p class="text-center"><a class="btn btn-primary btn-lg btn-embossed" role="button" href='{{ "/features/" | prepend: site.baseurl }}'>
            Mehr Features</a></p>
    </div>
</div>