<div class="jumbotron">
    <div class="container">
        <div class="row">
            <h2>Tolle Features</h2>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <img style="width: 100%" src="{{ '/img/mockup.png' | prepend: site.baseurl }}" srcset="{{ '/img/mockup@2x.png' | prepend: site.baseurl }} 2x"/>
            </div>
            <div class="col-sm-8">
                <div class="container">
                <div class="row">
                    <div class="col-sm-6"><div class="tile">
                        <div class="circle"><span class="schools-count">...</span></div>
                        unterstützte Schulen
                        in ganz Deutschland
                    </div></div>
                    <div class="col-sm-6"><div class="tile">
                        <div class="circle"><img src="/img/icons/filter.svg" alt="Icon Filter"></div>
                        nach Klasse oder Lehrer filtern
                    </div></div>
                </div>
                <div class="row">
                    <div class="col-sm-6"><div class="tile">
                        <div class="circle"><img src="/img/icons/notifications.svg" alt="Icon Benachrichtigung"></div>
                        Benachrichtigung bei Änderungen
                    </div></div>
                    <div class="col-sm-6"><div class="tile">
                        <div class="circle"><img src="/img/icons/widgets.svg" alt="Icon Widget"></div>
                        Widget auf dem Startbildschirm
                    </div></div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>