<div class="container">
    <div class="row">
            <div class="col-sm-5">
                <img src="/img/lornsenschule.svg" width="100%"/>
            </div>
            <div class="col-sm-7">
                <h4>Für Schulen</h4>
                <p>Sind Sie Schulleiter oder Lehrer und haben Interesse daran, Ihre Schule in die App aufnehmen zu
                    lassen? Zusätzlich gibt es auch die möglichkeit, mit einer Schullizenz die Pro-Version für alle
                    Schüler/-innen, Lehrkräfte und Eltern freizuschalten und die App noch besser an Ihre Bedürfnisse
                    anzupassen. Wir haben für Sie unter
                    <a href='{{ "/fuer-schulen/" | prepend: site.baseurl }}'>Für Schulen</a> eine eigene Seite
                    mit passenden Informationen zusammengestellt. Oder <a href="mailto:{{site.email}}">sprechen Sie uns
                        einfach an!</a></p>

            </div>
        </div>
    </div>
</div>