<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="jumbotron fullscreen welcome-page">
    <div class="container">
        {{ content }}
        <p><a class="btn btn-primary btn-lg btn-embossed" role="button" href='{{ "/features/" | prepend: site.baseurl }}'>
            <span class="fa fa-info"></span>Mehr Informationen</a></p>
        <p><a class="btn btn-success btn-lg btn-embossed" role="button" href='{{ "/download/" | prepend: site.baseurl }}'>
            <span class="fa fa-download"></span>Download</a></p>
    </div>
    <img src='{{ "/img/lornsenschule.svg" | prepend: site.baseurl }}' class="hero hero-narrow" style="width:100%"/>
    <img src='{{ "/img/lornsenschule_medium.svg" | prepend: site.baseurl }}' class="hero hero-medium" style="width:100%"/>
    <img src='{{ "/img/lornsenschule_wide.svg" | prepend: site.baseurl }}' class="hero hero-wide" style="width:100%"/>
    <div class="below-image"></div>
</div>

{% include footer.html %}
{% include bottom_js.html %}

</body>

</html>